/* Background Component Estilização */

.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: background-image 0.5s ease; 
    background-size: cover;
    height: 100vh;
    padding-top: 80px;
}

.carousel-Logo, .slogan{
    width: 80%;
}

.img1{
    background-image: url('../assets/FundoMobile1.svg');
}
.img2{
    background-image: url('../assets/FundoMobile2.svg');
}
.img3{
    background-image: url('../assets/FundoMobile3.svg');
}

/* Card Components Estilização */
.card-container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 85%;
    flex-grow: 1;
    flex-basis: 500px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    gap: 10px;
    background-color: var(--azul);
}

.card-image{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title{
    text-align: center;
    color: white;
}

.card-content{
    color: white;
    font-size: 16px;
    padding: 20px;
    text-align: justify;
}

@media (min-width:576px) {
    .carousel-Logo, .slogan{
        width: 60%;
    }
}

@media (min-width:768px) {
  
}

@media (min-width:992px) {
    .carousel-Logo, .slogan{
        width: 50%;
    }
}

@media (min-width:1200px) {
    .carousel-Logo, .slogan{
        width: 35%;
    }
}

@media (min-width:1440px) {
    .carousel-Logo, .slogan{
        width: 30%;
    }
}