/* Background Component Estilização */

.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: background-image 0.5s ease; 
    background-size: cover;
    height: 100vh;
    padding-top: 80px;
}

.carousel-Logo, .slogan{
    width: 80%;
}

.img1{
    background-image: url('../assets/FundoMobile1.svg');
}
.img2{
    background-image: url('../assets/FundoMobile2.svg');
}
.img3{
    background-image: url('../assets/FundoMobile3.svg');
}

/* Card Components Estilização */
.card-container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 85%;
    flex-grow: 1;
    flex-basis: 500px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    gap: 10px;
    background-color: var(--azul);
}

.card-image{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-title{
    text-align: center;
    color: white;
}

.card-content{
    color: white;
    font-size: 16px;
    padding: 20px;
    text-align: justify;
}

/* CardTitle Component SAstyle */
.cardTitle-container{
    width: 100%;
}
.cardTitle-title{ 
    border: 2px solid whitesmoke; 
    border-radius: 10px; 
    padding: 10px; 
    min-height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* CardEvent Component Style */

.event-container {
    background-color: whitesmoke; 
    border-radius: 8px; 
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 0 0 var(--amarelo);
    border: 1px solid wheat;
}

.event-info {
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between; 
    margin-top: 5px; 
    color: var(--vinho);
    font-size: 16px;
    font-weight: bold;
    text-align: right;
}

.event-location{
    font-style: italic;
}

.event-main-container{
    display: flex;
    justify-content: space-between;
}

.event-description{
    padding-top: 20px;
}

.event-title{
    text-align: center;
    margin-bottom: 5px;
}

/* SocialMedia Component Stilização */
.socialMedia-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    border-radius: 10px;
}

.socialMedia-links {
    color: var(--amarelo);                
    text-decoration: none;       
    transition: color 0.3s;  
    font-size: 40px;   
}

.socialMedia-links:hover, 
.socialMedia-links:focus {
    color: var(--rosa); 
    outline: none;
}

.socialMedia-links:active {
    color: var(--amarelo);
} 

@media (min-width:576px) {
    .carousel-Logo, .slogan{
        width: 60%;
    }

    .card-container{
        flex-basis: calc(50% - 10px);
    }

    .event-container {
        flex: 1 1 calc(40% - 15px);
        max-width: calc(50% - 15px);
        justify-content: space-around;
    }
    .event-main-container{
        flex-direction: column;
    }
    .event-info{
        align-items: flex-start;
        flex-direction: row;
    }
    .event-description{
        padding-top: 5px;
        text-align: justify;
    }
    .socialMedia-links {
        width: calc(40% - 20px);
        margin: 10px;
        text-align: center;
        font-size: 60px;
    }
    .socialMedia-container {
        justify-content: center;
        width: 40%;
    }

}

@media (min-width:768px) {
    
    .socialMedia-links {
        flex-direction: column;
        margin: 0;
        width: 100%;
        font-size: 50px;
    }
  
}

@media (min-width:992px) {
    .carousel-Logo, .slogan{
        width: 50%;
    }

    .event-container {
        flex: 1 1 calc(25% - 15px); 
        max-width: calc(25% - 15px);
    }

    .socialMedia-links {
        width: calc(40% - 20px);
        margin: 10px;
        text-align: center;
        font-size: 70px;
    }
    .socialMedia-container {
        justify-content: center;
        width: 40%;
    }
}

@media (min-width:1200px) {
    .carousel-Logo, .slogan{
        width: 35%;
    }

    .card-container{
        flex-basis: calc(20% - 10px);
    }
}

@media (min-width:1440px) {
    .carousel-Logo, .slogan{
        width: 30%;
    }
}