.carousel-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    transition: background-image 0.5s ease; 
    background-size: cover;
    height: 100vh;
    padding-top: 80px;
}

.carousel-Logo, .slogan{
    width: 80%;
}

.img1{
    background-image: url('../assets/FundoMobile1.svg');
}
.img2{
    background-image: url('../assets/FundoMobile2.svg');
}
.img3{
    background-image: url('../assets/FundoMobile3.svg');
}

@media (min-width:576px) {
    .carousel-Logo, .slogan{
        width: 60%;
    }
}

@media (min-width:768px) {
  
}

@media (min-width:992px) {
    .carousel-Logo, .slogan{
        width: 60%;
    }
}

@media (min-width:1200px) {

}

@media (min-width:1440px) {
    .carousel-Logo, .slogan{
        width: 55%;
    }
}