.agenda-events-container{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
    justify-content: space-between;
    width: 100%;
}

.agenda-title-image{
    width: 200px;
}

.agenda-title{
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./assets/Wave-top.svg');
    background-size: cover;
}

@media (min-width:576px) {
    .agenda-title{
        height: 200px;
    }
    .agenda-title-image{
        width: 300px;
    }
}

/* @media (min-width:768px) {
  
} */

@media (min-width:992px) {
    .agenda-title{
        background-position-y: 22%;
    }
}

@media (min-width:1200px) {
    #Agenda{
        height: 80vh;
    }
    .agenda-events-container{
        padding-top: 100px;
    }
    .agenda-title-image{
        width: 370px;
    }
    .agenda-title{
        background-position-y: 24%;
    }

}

@media (min-width:1440px) {
    .agenda-title{
        background-position-y: 27%;
    }
}
