.header-logoSvg{
    width: 100px;
}

.header-container{
    background-color: var(--amarelo);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    position: fixed;
}

.header-iconBtn{
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    font-size: 28px;
    color: var(--rosa);
}

.header-menu{
    transform: translateX(-100%); 
    transition: transform 0.5s ease-in-out; 
    position: fixed; 
    background-color: var(--azul);
    width: 200px;
    height: 100vh;
    z-index: 2;
}

.menu-ul{
    list-style-type: none;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-weight: bold;
    font-size: 20px;
    z-index: 2;
    }

a:hover, a:focus, a:focus-visible{
    color: var(--amarelo);
    font-weight: bolder;
}

.menu-closeBtn{
    position: fixed;
    width: 40px;
    height: 40px;
    border: none;
    background: none;
    font-size: 20px;
    color: var(--amarelo);
    right: 0;
}

.menu-logoSvg{
    width: 150px;
}

.open{
    transform: translateX(0);
}

.div-close-menu{
    display: none;
}

.div-open{
    display: block;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
}


@media (min-width:576px) {
  
}

@media (min-width:768px) {
  
}

@media (min-width:992px) {
    .header-iconBtn{
        display: none;
    }
    .header-menu{
        position: fixed;
        transform: translateX(0); 
        background-color: transparent;
        width: 100%;
        height: fit-content;
    }

    
    .menu-ul{
        height: 100px;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 40px;
        color: var(--rosa);
        font-weight: bold;
        font-size: 24px;
    }
    .menu-logoSvg{
        display: none;
    }
    a:hover, a:focus, a:focus-visible{
        color: var(--azul);
        font-weight: bolder;
    }

}

@media (min-width:1200px) {
    .menu-ul{
        gap: 70px;
        color: var(--rosa);
        font-weight: bold;
        font-size: 26px;
    }
}

@media (min-width:1440px) {
 
}