*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --azul: #3b28cc;
  --rosa: #d90368;
  --amarelo: #fca311;
  --vinho: #2d0320;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Coloquei como rascunho para poder usar nos outros arquivos css e salvar ele aq como backup

@media (min-width:576px) {
  
}

@media (min-width:768px) {
  
}

@media (min-width:992px) {

}

@media (min-width:1200px) {

}

@media (min-width:1440px) {
 
} */