.proposal-title-container{
    display: flex;
    width: 100%;
    height: 150px;
    padding: 20px;
    justify-content: center;
    background-image: url('./assets//Wave-Top.svg');
    background-size: cover;
    z-index: 2;
    position: relative;
    top: -10px;
}

.proposal-title{
    width: 200px;
}

.proposal-cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.otherProposal-title-container{
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: center;
}

.proposal-h2{
    margin: 0;
    padding: 0;
    height: fit-content;
}

.proposal-cardsTitle-container{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 10px; 
    padding: 10px;
    color: white; 
    text-align: center;   
}

.blue{
    background-color: var(--azul);
}

.pink{
    background-color: var(--rosa);
}


@media (min-width:576px) {
    .proposal-title-container{
        height: 220px;
    }
    .proposal-title{
        width: 300px;
    }

    .proposal-cards-container{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        padding: 20px;
    }
    .card-title{
        padding: 5px;
    }

    .proposal-h2{
        padding-top: 20px;
        height: fit-content;
        font-size: 24px;
    }
}

/* @media (min-width:768px) {
  
} */

@media (min-width:992px) {
    .proposal-cardsTitle-container{
        grid-template-columns: repeat(3, 1fr);    
    }
    .proposal-title-container{
        background-position-y: 15%;
    }
    .proposal-h2{
        font-size: 28px;
    }
}

@media (min-width:1200px) {
    .proposal-title{
        width: 370px;
    }
    .proposal-title-container{
        background-position-y: 20%;
    }

}

@media (min-width:1440px) {
    .proposal-title-container{
        background-position-y: 27%;
    }
}
